langchain-community==0.3.27
transformers==4.53.2
sentence-transformers==5.0.0
langchain-huggingface==0.3.0
faiss-cpu==1.11.0.post1
pypdf==5.8.0
PyPDF2==3.0.1
PyMuPDF==1.26.4
azure-search-documents==11.5.3
langchain==0.3.26
openai==1.98.0
langchain-openai==0.3.28
anthropic==0.60.0
llama-index==0.13.0
langchain-mistralai==0.2.11
llama-index-llms-azure-openai==0.4.0
llama-index-llms-mistralai==0.7.0
streamlit==1.48.1
python-dotenv==1.1.1
fastapi==0.104.1
uvicorn[standard]==0.24.0
jinja2==3.1.6
python-multipart==0.0.6
langgraph==0.6.7
langchain_docling==1.0.0