name: "GitHub Pages documentation"
on:
  push:
    branches: [ main ]

permissions:
    contents: write

jobs:
  docs:
    name: Build (and deploy) documentation
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0        # required for gh-pages deployment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install sphinx sphinx-rtd-theme
          pip install .
          # plus any of your own requirements, e.g.:
          pip install -r requirements_dev.txt

      - name: Build docs
        run: | 
          cd docs/
          make html
      
      - name: Upload to GitHub Pages
        if: ${{ github.event_name != 'pull_request'}}
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/html
          force_orphan: true
